<div>
    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-12 col-md-12">

                    <div class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="cardJms">

                                    <div class="body">
                                        <div class="inicio">
                                            <div class="botton">
                                            <h5 class="m-t-30 inicio_texte2 jms1">
                                                Oi 👋🏽, eu sou 
                                            </h5>
                                            <h5 class="m-t-10 inicio_texte jms2">
                                               <span class="inicio_texte3D" style="opacity: 1;">Joaquim Silva</span>,
                                                
                                            </h5>
                                            <h5 class="m-t-10 inicio_texte2">
                                                design / desenvolvedor web
                                            </h5>

                                            <p class="m-t-10 subtitulo ">
                                                Sou um desenvolvedor full stack e Design criativo que vive em
                                                Angola-Luanda.
                                            </p> 
                                             <button class="btn btn-white btn-round z-depth-5 btn_jms">Contactar-me!</button>
                                      
                                            <br>
                                        </div>
                                          </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Portfolio items ===-->

    <p-portfolio></p-portfolio>

    <!-- ======= Portfolio items ===-->

    <!-- ======= Habilidade ===-->

    <p-habilidade></p-habilidade>

    <!-- ======= Habilidade ===-->


        <!-- ======= sobre mi ===-->

        <p-sobre></p-sobre>

        <!-- ======= sobre mi ===-->

    <!-- ======= blogs ===-->

    <p-blogs></p-blogs>

    <!-- ======= blogs ===-->

    <!-- ======= Contactos ===-->

    <p-contacto></p-contacto>

    <!-- ======= Contactos ===-->
</div>