<div>
    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-lg-12 col-md-12">

                    <div class="tab-pane">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="card">

                                    <div class="body">
                                        <div class="inicio ">

                                            <h5 class="m-t-30 inicio_texte">
                                                Hi 👋🏽,  
                                            </h5>
                                            <h5 class="m-t-10 inicio_texte">
                                                eu sou <span class="nome_titulo" aria-hidden="true" style="opacity: 1;">Joaquim</span>,
                                                
                                            </h5>
                                            <h5 class="m-t-10 inicio_texte">
                                                design / desenvolvedor web
                                            </h5>

                                            <p class="m-t-10 subtitulo">
                                                Sou um desenvolvedor full stack e Design criativo que vive em
                                                Angola-Luanda.
                                            </p>

                                            <br>
                                            <button class="btn btn-white btn-round z-depth-5 btn_jms">Contactar-me!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Portfolio items ===-->

    <p-portfolio></p-portfolio>

    <!-- ======= Portfolio items ===-->

    <!-- ======= Habilidade ===-->

    <p-habilidade></p-habilidade>

    <!-- ======= Habilidade ===-->


    <!-- ======= Contactos ===-->

    <p-contacto></p-contacto>

    <!-- ======= Contactos ===-->
</div>