<div class="port_baixo">

    <div class="portifolio">
        <div class="lbox" id="teste">
            <div class="box-img">
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/teste/pagina-1.png">
                <a href="#teste1" class="btn2" id="next"> <i class="menu-icon ti-angle-double-right"></i></a>
            </div>
        </div>
        <div class="lbox" id="teste1">
            <div class="box-img">
                <a href="#teste" class="btn2" id="prev"><i class="menu-icon ti-angle-double-left"></i></a>
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/teste/pagina-2.png">
                <a href="#teste2" class="btn2" id="next"> <i class="menu-icon ti-angle-double-right"></i></a>
            </div>
        </div>
        <div class="lbox" id="teste2">
            <div class="box-img">
                <a href="#teste1" class="btn2" id="prev"> <i class="menu-icon ti-angle-double-left"></i></a>
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/teste/pagina-4.png">
                <a href="#teste3" class="btn2" id="next"> <i class="menu-icon ti-angle-double-right"></i></a>
            </div>
        </div>

    </div>


    <div class="portifolio">
        <div class="lbox" id="joferbino1">
            <div class="box-img">
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/joferbino/joferbino-1.png">
                <a href="#joferbino2" class="btn2" id="next"> <i class="menu-icon ti-angle-double-right"></i></a>
            </div>
        </div>


        <div class="lbox" id="joferbino2">
            <div class="box-img">
                <a href="#joferbino1" class="btn2" id="prev"><i class="menu-icon ti-angle-double-left"></i></a>
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/joferbino/joferbino-2.png">
                <a href="#joferbino3" class="btn2" id="next"> <i class="menu-icon ti-angle-double-right"></i></a>
            </div>
        </div>
        <div class="lbox" id="joferbino3">
            <div class="box-img">
                <a href="#joferbino2" class="btn2" id="prev"><i class="menu-icon ti-angle-double-left"></i></a>
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/joferbino/joferbino-3.png">
                <a href="#joferbino4" class="btn2" id="next"> <i class="menu-icon ti-angle-double-right"></i></a>
            </div>
        </div>
        <div class="lbox" id="joferbino4">
            <div class="box-img">
                <a href="#joferbino3" class="btn2" id="prev"><i class="menu-icon ti-angle-double-left"></i></a>
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/joferbino/joferbino-6.png">
            </div>
        </div>
    </div>


    <div class="portifolio">

        <div class="lbox" id="doar2">
            <div class="box-img">
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/doardigital/doar2.png">
                <a href="#doar3" class="btn2" id="next"> <i class="menu-icon ti-angle-double-right"></i></a>
            </div>
        </div>
        <div class="lbox" id="doar3">
            <div class="box-img">
                <a href="#doar2" class="btn2" id="prev"><i class="menu-icon ti-angle-double-left"></i></a>
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/doardigital/doar3.png">
                <a href="#doar4" class="btn2" id="next"> <i class="menu-icon ti-angle-double-right"></i></a>
            </div>
        </div>
        <div class="lbox" id="doar4">
            <div class="box-img">
                <a href="#doar3" class="btn2" id="prev"><i class="menu-icon ti-angle-double-left"></i></a>
                <a href="#/portfolio" class="btn2" id="close">X</a>
                <img src="assets/images/doardigital/doar6.png">
            </div>
        </div>
    </div>


    <section class="content">

        <div class="col-lg-12 col-md-12 top">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="cardJms project_widget">

                        <div class="body">

                            <h5 class="m-t-30 nome_titulo">
                                Meu Portifolio
                            </h5>
                            <p class="m-t-10 subtitulo">
                                Uma pequena galeria de projetos recentes escolhidos por mim.
                                <br> Eu fiz tudo isso junto com pessoas incríveis de empresas ao redor do
                                mundo.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">


        <div class="body">
            <section id="portfolio" class="gray-bg padding-top-bottom">
                <!--==== Portfolio Filters ====-->
                <div class="categories">
                    <ul>
                        <li :class="{ active: todos }">
                            <a href="#" @click="todas()">Todas as categorias</a>
                        </li>
                        <li :class="{ active: webX }">
                            <a href="#" @click="web()">Designer de Web</a>
                        </li>
                        <li :class="{ active: appX }">
                            <a href="#" @click="app()">Apps</a>
                        </li>
                        <li :class="{ active: psdX }">
                            <a href="#" @click="psd()">PSD</a>
                        </li>
                    </ul>
                </div>



                <!-- ======= Portfolio items ===-->
                <div class="projects-container scrollimation in">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="">

                                <div class="row ">
                                    <main class="galeria">

                                        <div class="portfolio_item " v-if="jms === 'web' || jms === 'todos'">
                                            <a href="#teste">
                                                <img class="foto" src="assets/images/teste/pagina-1.png">
                                            </a>

                                        </div>
                                        <div class="portfolio_item" v-if="jms === 'psd' || jms === 'todos'">
                                            <a href="#joferbino1">
                                                <img class="" src="assets/images/joferbino.jpg">
                                            </a>

                                        </div>


                                        <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a href="#doar2">
                                                <img class="" src="assets/images/doardigital.jpg">
                                            </a>
                                          
                                        </div>


                                        <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a>
                                                <div class="pro">
                                                    <div class="breve">
                                                        <p>EM BREVE</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a>
                                                <div class="pro">
                                                    <div class="breve">
                                                        <p>EM BREVE</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a>
                                                <div class="pro">
                                                    <div class="breve">
                                                        <p>EM BREVE</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
 
                                         <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a>
                                                <div class="pro">
                                                    <div class="breve">
                                                        <p>EM BREVE</p>
                                                    </div>
                                      
                                                </div>
                                            </a>
                                        </div>


                                    </main>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </section>
</div>