<div class="port_baixo">

    <div class="portifolio">
        <div class="row lbox" id="jms">
            <a href="#/portfolio" class="btn2" id="close">X</a>
            <div class="col-lg-9 col-md-12">

                <div class="tamanhoCard">

                    <div class="box-img" v-if="kim === 'kim0'">
                        <div class="img jms1">
                        </div>
                        <a @click="kim = 'kim1'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="kim === 'kim1'">
                        <a @click="kim = 'kim0'" class="btn2" id="prev"><i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <div class="img jms2">
                        </div>
                        <a @click="kim = 'kim2'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="kim === 'kim2'">
                        <a @click="kim = 'kim1'" class="btn2" id="prev"> <i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <img class="tamanhoImg" src="assets/images/jms/jms4.png">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12">
                <div class="body subtitulo baixa">
                    <div class="left-timeline">
                        <time class="left-time port_baixo" datetime="2017-10-22T12:13">
                            <span>3 anos atrás</span></time>
                        <blockquote>
                            <h5>- Tecnologia </h5>
                            <p class="blockquote blockquote-primary">
                                "Javascript"
                                <br>
                                "Vue.js"
                                <br>
                                "Html"
                                <br>
                            </p>

                        </blockquote>
                        <p>
                            Meu primeiro projecto desenvolvido com as novas tecnologia front,
                            com muito amor e paixao
                        </p>

                        <h5>- actor </h5>
                        <p class="blockquote blockquote-primary">
                            "Joaquim Silva"
                            <br>

                        </p>


                    </div>

                </div>
            </div>

            <a href="https://github.com/" class="footer" target="_blank">
                <p class="footer-texte">
                    Visitar o Site
                </p>
            </a>

        </div>
    </div>


    <div class="portifolio">
        <div class="row lbox" id="teste">
            <a href="#/portfolio" class="btn2" id="close">X</a>
            <div class="col-lg-10 col-md-12">

                <div class="tamanhoCard">

                    <div class="box-img" v-if="teste === 'teste0'">
                        <img src="assets/images/teste/pagina-1.png">
                        <a @click="teste = 'teste1'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="teste === 'teste1'">
                        <a @click="teste = 'teste0'" class="btn2" id="prev"><i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <img src="assets/images/teste/pagina-3.png">
                        <a @click="teste = 'teste2'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="teste === 'teste2'">
                        <a @click="teste = 'teste1'" class="btn2" id="prev"> <i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <img src="assets/images/teste/pagina-4.png">
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-12">
                <div class="body subtitulo baixa">
                    <div class="left-timeline">
                        <time class="left-time port_baixo" datetime="2017-10-22T12:13">
                            <span>1 anos atrás</span></time>
                        <blockquote>
                            <h5>- Tecnologia </h5>
                            <p class="blockquote blockquote-primary">
                                "Javascript"
                                <br>
                                "Vue.js"
                                <br>
                                "Html"
                                <br>
                                css
                                <small>
                                    - joaquim
                                </small>
                            </p>
                            <p>
                                Site desenvolvido para empresa joferbino ( prestação de serviço )
                            </p>
                            <h5>- actor </h5>
                            <p class="blockquote blockquote-primary">
                                "Joaquim Silva"
                                <br>

                            </p>

                        </blockquote>

                    </div>

                </div>
            </div>
        </div>

    </div>



    <div class="portifolio">
        <div class="row lbox" id="joferbino1">
            <a href="#/portfolio" class="btn2" id="close">X</a>
            <div class="col-lg-9 col-md-12">

                <div class="tamanhoCard">

                    <div class="box-img" v-if="joferbino === 'joferbino0'">
                        <div class="img jof1">
                        </div>
                        <a @click="joferbino = 'joferbino1'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="joferbino === 'joferbino1'">
                        <a @click="joferbino = 'joferbino0'" class="btn2" id="prev"><i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <div class="img jof2">
                        </div>
                        <a @click="joferbino = 'joferbino2'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="joferbino === 'joferbino2'">
                        <a @click="joferbino = 'joferbino1'" class="btn2" id="prev"> <i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <div class="img jof3">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12">
                <div class="body subtitulo baixa">
                    <div class="left-timeline">
                        <time class="left-time port_baixo" datetime="2017-10-22T12:13">
                            <span>1 anos atrás</span></time>
                        <blockquote>
                            <h5>- Tecnologia </h5>
                            <p class="blockquote blockquote-primary">
                                "Javascript"
                                <br>
                                "Vue.js"
                                <br>
                                "Html"
                                <br>
                                css
                            </p>

                        </blockquote>
                        <p>
                            Site desenvolvido para empresa joferbino ( prestação de serviço )
                        </p>
                        <h5>- actor </h5>
                        <p class="blockquote blockquote-primary">
                            "Joaquim Silva"
                            <br>

                        </p>

                    </div>

                </div>
            </div>

            <a href="https://github.com/" class="footer" target="_blank">
                <p class="footer-texte">

                    Visitar o Site
                </p>
            </a>

        </div>
    </div>

    <div class="portifolio">
        <div class="row lbox" id="doar2">
            <a href="#/portfolio" class="btn2" id="close">X</a>
            <div class="col-lg-9 col-md-12">

                <div class="tamanhoCard">

                    <div class="box-img" v-if="doar === 'doar0'">
                        <div class="img doar1">
                        </div>
                        <a @click="doar = 'doar1'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="doar === 'doar1'">
                        <a @click="doar = 'doar0'" class="btn2" id="prev"><i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <div class="img doar2">
                        </div>
                        <a @click="doar = 'doar2'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="doar === 'doar2'">
                        <a @click="doar = 'doar1'" class="btn2" id="prev"> <i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <div class="img doar3">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12">
                <div class="body subtitulo baixa">
                    <div class="left-timeline">
                        <time class="left-time port_baixo" datetime="2017-10-22T12:13">
                            <span>2 anos atrás</span></time>
                        <blockquote>
                            <h5>- Tecnologia </h5>
                            <p class="blockquote blockquote-primary">
                                "Javascript"
                                <br>
                                "Vue.js"
                                <br>
                                "Html"
                                <br>
                                "PHP"
                            </p>

                        </blockquote>
                        <p>
                            Site desenvolvido para empresa Digital Combo
                            <br>
                            Um dos Projeto mas desafiador onde tive o portunidade em trabalhar e
                            colaborar com pessoas talentosas para Criação do sistema doardigital
                            <br>
                        </p>
                        <h5>- Trabalhei na area do front-end</h5>
                        <p class="blockquote blockquote-primary">
                            "Joaquim Silva"
                            <br>

                        </p>

                    </div>

                </div>
            </div>

            <a href="https://doardigital.com.br/" class="footer" target="_blank">
                <p class="footer-texte">
                    Visitar o Site
                </p>
            </a>

        </div>
    </div>

    <div class="creche">
        <div class="row lbox" id="amiguinho">
            <a href="#/portfolio" class="btn2" id="close">X</a>
            <div class="col-lg-9 col-md-12">

                <div class="tamanhoCard">

                    <div class="box-img" v-if="amiguinho === 'amiguinho0'">
                        <div class="img amiguinho1">
                        </div>
                        <a @click="amiguinho = 'amiguinho1'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="amiguinho === 'amiguinho1'">
                        <a @click="amiguinho = 'amiguinho0'" class="btn2" id="prev"><i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <div class="img amiguinho2">
                        </div>
                        <a @click="amiguinho = 'amiguinho2'" class="btn2" id="next"> <i
                                class="menu-icon ti-angle-double-right"></i></a>
                    </div>

                    <div class="box-img" v-else-if="amiguinho === 'amiguinho2'">
                        <a @click="amiguinho = 'amiguinho1'" class="btn2" id="prev"> <i
                                class="menu-icon ti-angle-double-left"></i></a>
                        <div class="img amiguinho3">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12">
                <div class="body subtitulo baixa">
                    <div class="left-timeline">
                        <time class="left-time port_baixo" datetime="2017-10-22T12:13">
                            <span>2 anos atrás</span></time>
                        <blockquote>
                            <h5>- Tecnologia </h5>
                            <p class="blockquote blockquote-primary">
                                "Javascript"
                                <br>
                                "Vue.js"
                                <br>
                                "Html"
                                <br> 
                                css
                            </p>

                        </blockquote>
                        <p>
                            Site desenvolvido para creche Amiguinho de jesus
                            <br>
                            Um dos Projeto desafiador 
                            <br>
                        </p>
                        <h5>- Altor</h5>
                        <p class="blockquote blockquote-primary">
                            "Joaquim Silva"
                            <br>

                        </p>

                    </div>

                </div>
            </div>

            <a href="https://amiguinhos-jesus.web.app/#/" class="footer" target="_blank">
                <p class="footer-texte">
                    Visitar o Site
                </p>
            </a>

        </div>
    </div>





    <section class="content">

        <div class="col-lg-12 col-md-12 top">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="cardJms project_widget">

                        <div class="body">

                            <h5 class="m-t-30 nome_titulo">
                                Meu Portifolio
                            </h5>
                            <p class="m-t-10 subtitulo">
                                Uma pequena galeria de projetos recentes escolhidos por mim.
                                <br> Eu fiz tudo isso junto com pessoas incríveis de empresas ao redor do
                                mundo.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content">


        <div class="body">
            <section id="portfolio" class="gray-bg padding-top-bottom">
                <!--==== Portfolio Filters ====-->
                <div class="categories">
                    <ul>
                        <li :class="{ active: todos }">
                            <a href="#" @click="todas()">Todas as categorias</a>
                        </li>
                        <li :class="{ active: webX }">
                            <a href="#" @click="web()">Designer de Web</a>
                        </li>
                        <li :class="{ active: appX }">
                            <a href="#" @click="app()">Apps</a>
                        </li>
                        <li :class="{ active: psdX }">
                            <a href="#" @click="psd()">PSD</a>
                        </li>
                    </ul>
                </div>



                <!-- ======= Portfolio items ===-->
                <div class="projects-container scrollimation in">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="">

                                <div class="row ">
                                    <main class="galeria">
                                        <div class="portfolio_item " v-if="jms === 'web' || jms === 'todos'">
                                            <a href="#jms">
                                                <img class="img foto" src="assets/images/jms.png">
                                            </a>

                                        </div>


                                        <div class="portfolio_item " v-if="jms === 'web' || jms === 'todos'">
                                            <a href="#teste">
                                                <img class="img foto" src="assets/images/pagina-1.png">
                                            </a>

                                        </div>
                                        <div class="portfolio_item" v-if="jms === 'psd' || jms === 'todos'">
                                            <a href="#joferbino1">
                                                <img class="img " src="assets/images/joferbino.jpg">
                                            </a>

                                        </div>


                                        <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a href="#doar2">
                                                <img class="img " src="assets/images/doardigital.jpg">
                                            </a>

                                        </div>

                                        <div class="portfolio_item" v-if="jms === 'web' || jms === 'todos'">
                                            <a href="#amiguinho">
                                                <img class="img " src="assets/images/amiguinho.png">
                                             </a>

                                        </div>


                                        <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a>
                                                <div class="pro">
                                                    <div class="breve">
                                                        <p>EM BREVE</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a>
                                                <div class="pro">
                                                    <div class="breve">
                                                        <p>EM BREVE</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a>
                                                <div class="pro">
                                                    <div class="breve">
                                                        <p>EM BREVE</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="portfolio_item" v-if="jms === 'app' || jms === 'todos'">
                                            <a>
                                                <div class="pro">
                                                    <div class="breve">
                                                        <p>EM BREVE</p>
                                                    </div>

                                                </div>
                                            </a>
                                        </div>


                                    </main>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </section>
</div>