
<div>
    <section class="content">
        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="bootstrap snippet">
                                <section id="portfolio" class="gray-bg padding-top-bottom">
                                    <!--==== Portfolio Filters ====-->
                                    <div class="categories">
                                        <ul>
                                            <li class="active">
                                                <a href="#" data-filter="*">Todas as categorias</a>
                                            </li>
                                            <li>
                                                <a href="#" data-filter=".web-design">Designer de Web</a>
                                            </li>
                                            <li>
                                                <a href="#" data-filter=".apps">Apps</a>
                                            </li>
                                            <li>
                                                <a href="#" data-filter=".psd">PSD</a>
                                            </li>
                                        </ul>
                                    </div>



                                    <!-- ======= Portfolio items ===-->
                                    <div class="projects-container scrollimation in">

                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="card bg-dark">
                                                    <div class="body">
                                                        <div id="aniimated-thumbnials" class="list-unstyled row clearfix">

                                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 portfolio-item  web-design">
                                                                <a href="assets/images/posts/joferbino.jpg" data-sub-html="acesdsar href">
                                                                    <img class="img-responsive thumbnail" src="assets/images/posts/joferbino.jpg" alt="">
                                                                </a>
                                                                <p></p>
                                                                <a target="_blank" href="http://joferbino.co.ao/" class="text-white">ver a Pagina</a>

                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 portfolio-item psd">
                                                                <a href="assets/images/posts/post9.jpg" data-sub-html="Demo Description">
                                                                    <img class="img-responsive thumbnail" src="assets/images/posts/post9.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 portfolio-item psd">
                                                                <a href="assets/images/posts/joferbino telef.jpg" data-sub-html="acesdsar href">
                                                                    <img class="img-responsive thumbnail" src="assets/images/posts/joferbino telef.jpg" alt="">
                                                                </a>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 portfolio-item psd">
                                                                <a href="assets/images/posts/post6.jpg" data-sub-html="acesdsar href">
                                                                    <img class="img-responsive thumbnail" src="assets/images/posts/post6.jpg" alt="">
                                                                </a>
                                                                <p></p>

                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 portfolio-item apps web-design">
                                                                <a href="assets/images/posts/farmacia.jpg" data-sub-html="acesdsar href">
                                                                    <img class="img-responsive thumbnail" src="assets/images/posts/farmacia.jpg" alt="">
                                                                </a>
                                                            </div>

                                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 portfolio-item psd">
                                                                <a href="assets/images/posts/post11.png" data-sub-html="acesdsar href">
                                                                    <img class="img-responsive thumbnail" src="assets/images/posts/post11.png" alt="">
                                                                </a>
                                                            </div>


                                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  portfolio-item psd">
                                                                <a href="assets/images/posts/post3.jpg" data-sub-html="Demo Description">
                                                                    <img class="img-responsive thumbnail" src="assets/images/posts/post3.jpg" alt="">
                                                                </a>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Browser Usage -->
            </div>
        </div>
    </section>
</div>