


<div>
   
<div  id="navegation-mobile"  v-if="mobileView">
    <!-- Left Sidebar -->
        <div class="nav__toggle" :class="{ iconMostrar: showMostrar }"> 
            <a @click="mostrarMenu()">
                <i class="menu-icon ti-hand-point-right"></i>
                </a>
        </div>

        <div class="nav__toggle" :class="{ iconEsconder: showEsconder }"> 
            <a @click="esconderMenu()">
                <i class="menu-icon ti-hand-point-left"></i>
                </a>
        </div>

        
    <aside class="sidebar" :class="{ show: showTrue }">
  



        <!-- Menu -->
        <div class="menu">

                <div class="img_center">
                    <a href="#/" @click="home()" v-if="type">
                    <img src="assets/images/user/jms.png" class="user-logo" alt=""> 
                </a> 

                <a href="#/" @click="homeJms()" v-else>
                    <img src="assets/images/user/logo.png" class="user-logo" alt=""> 
                </a> 
 

                 <div>
                        Web Developer
                    </div>
                    <hr>
                </div>

              

            <ul class="list" > 
              
                        <li :class="{ vertical: portifolioActive }" class="" @click="portifolio()">
                            <a href="#/portfolio">
                                <i class="menu-icon ti-briefcase"></i>
                                <span :class="{ menuTitulo: tituloActive }">Portfolio</span>
                            </a>
                        </li>
                        <li :class="{ vertical: habilidadeActive }" class=""  @click="habilidade()">
                            <a href="#/habilidade">
                                <i class="menu-icon ti-microsoft"></i>
                                <span :class="{ menuTitulo: tituloActive }">Habilidades</span></a>
                        </li>
                        <li  :class="{ vertical: contactoActive }" class=""  @click="contacto()">
                            <a href="#/contacto">
                                <i class="menu-icon ti-id-badge"></i>
                                <span :class="{ menuTitulo: tituloActive }">Contacto</span></a>
                        </li>
                        <li :class="{ vertical: sobreActive }" class="">
                            <a href="#/sobre" @click="sobreMi()">
                                <i class="menu-icon ti-info-alt"></i>
                                <span :class="{ menuTitulo: tituloActive }">Sobre mi</span></a>
                        </li>
                        <li  :class="{ vertical: blogActive }" class=""  @click="blog()">
                            <a href="#/">
                                <i class="menu-icon ti-world"></i>
                                <span :class="{ menuTitulo: tituloActive }">Blog</span></a>
                        </li>
                     
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->

</div>


   
<div  v-if="!mobileView">
    <!-- Left Sidebar -->
    <aside class="sidebar">
        
        <!-- Menu -->
        <div class="menu">

                <div class="img_center">
                    <a href="#/" @click="home()" v-if="type">
                    <img src="assets/images/user/jms.png" class="user-logo" alt=""> 
                </a> 

                <a href="#/" @click="homeJms()" v-else>
                    <img src="assets/images/user/logo.png" class="user-logo" alt=""> 
                </a> 
 

                 <div>
                        Web Developer
                    </div>
                    <hr>
                </div>
          

            <ul class="list"> 
              
                        <li :class="{ vertical: sobreActive }" class="">
                            <a href="#/sobre" @click="sobreMi()">
                                <span>Sobre mi</span></a>
                        </li>
                        <li  :class="{ vertical: portifolioActive }" class="" @click="portifolio()">
                            <a href="#/portfolio">
                                <i class="menu-icon ti-briefcase"></i>
                                <span>Portfolio</span>
                            </a>
                        </li>
                        <li :class="{ vertical: habilidadeActive }" class=""  @click="habilidade()">
                            <a href="#/habilidade">
                                <i class="menu-icon ti-angle-double-right"></i>
                                <span>Habilidades</span></a>
                        </li>
                        <li  :class="{ vertical: contactoActive }" class=""  @click="contacto()">
                            <a href="#/contacto">
                                <span>Contacto</span></a>
                        </li>
                        <li  :class="{ vertical: blogActive }" class=""  @click="blog()">
                            <a href="#/">
                                <span>Blog</span></a>
                        </li>
                     
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar -->

</div>

</div>