<div>

    <div class="botaoEcoder">

   

        <div v-if="ativo" class="nav__toggle" :class="{ iconMostrar: showMostrar }">
            <a @click="mostrarMenu()">
                <i class="menu-icon ti-menu"></i>
            </a>
        </div>

        <div v-else class="nav__toggle" :class="{ iconEsconder: showEsconder }">
            <a @click="esconderMenu()">
                <i class="menu-icon ti-close"></i>
            </a>
        </div>
    </div>
    <div id="navegation-desktop" v-if="mobileView" :class="{ navegationDesktop: ativo }">
        <!-- Left Sidebar -->



        <aside class="sidebar" :class="{ show: showTrue }">




            <!-- Menu -->
            <div class="menu">

                <div class="img_center">
                    <a @click="esconderMenu()" href="#/" @click="home()" v-if="type">
                        <img src="assets/images/user/jms.png" class="user-logo" alt="">
                    </a>

                    <a @click="esconderMenu()" href="#/" @click="homeJms()" v-else>
                        <img src="assets/images/user/logo.png" class="user-logo" alt="">
                    </a>


                    <div>
                        Web Developer
                    </div>
                    <hr>
                </div>



                <ul class="list">

                    <li :class="{ vertical: portifolioActive }" class="" @click="portifolio()">
                        <a @click="esconderMenu()" href="#/portfolio">
                            <i class="menu-icon ti-briefcase"></i>
                            <span :class="{ menuTitulo: ativo }">Portfolio</span>
                        </a>
                    </li>
                    <li :class="{ vertical: habilidadeActive }" class="" @click="habilidade()">
                        <a @click="esconderMenu()" href="#/habilidade">
                            <i class="menu-icon ti-microsoft"></i>
                            <span :class="{ menuTitulo: ativo }">Habilidades</span></a>
                    </li>
                    <li :class="{ vertical: contactoActive }" class="" @click="contacto()">
                        <a @click="esconderMenu()" href="#/contacto">
                            <i class="menu-icon ti-id-badge"></i>
                            <span :class="{ menuTitulo: ativo }">Contacto</span></a>
                    </li>
                    <li :class="{ vertical: sobreActive }" class="">
                        <a @click="esconderMenu()" href="#/sobre" @click="sobreMi()">
                            <i class="menu-icon ti-info-alt"></i>
                            <span :class="{ menuTitulo: ativo }">Sobre mi</span></a>
                    </li>
                    <li :class="{ vertical: blogActive }" class="" @click="blog()">
                        <a @click="esconderMenu()" href="#/">
                            <i class="menu-icon ti-world"></i>
                            <span :class="{ menuTitulo: ativo }">Blog</span></a>
                    </li>

                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->

    </div>



</div>