.galeria img {
  transition: 1s;
  padding: 15px;
}

.galeria img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}


.modals {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 19999;
}

.modals-contente {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#btn_close {
  color: #fff;
  background-color: black;
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 5px 10px;
}

.modal_active{ 
  visibility: hidden;
}