 @charset "UTF-8";
 @import url(../fonts/themify-icons/themify-icons.css);
 @import url(../fonts/simple-line-icons/css/simple-line-icons.css);


 @font-face {
     font-family: "Poppins";
     font-style: normal;
     font-weight: 400;
     src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
     src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regulard41d.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
 }

 body,

 .temaBranco {
     color: #fff;
 }


 html {
     background-color: #1b1b1b;
     -moz-transition: all .5s;
     -o-transition: all .5s;
     -webkit-transition: all .5s;
     transition: all .5s;
     font-family: "minhaFonte", sans-serif;
     font-size: 14px;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: bold;
 }

 button,
 input,
 select,
 a {
     outline: none !important;
 }

 button:hover,
 input:hover,
 select:hover,
 a:hover {
     text-decoration: none;
 }

 img {
     max-width: 100%
 }

 .row {
     margin-bottom: 0 !important;
 }

 .no-animate {
     -o-transition-property: none !important;
     -moz-transition-property: none !important;
     -ms-transition-property: none !important;
     -webkit-transition-property: none !important;
     transition-property: none !important;
     -o-transform: none !important;
     -moz-transform: none !important;
     -ms-transform: none !important;
     -webkit-transform: none !important;
     transform: none !important;
     -webkit-animation: none !important;
     -moz-animation: none !important;
     -o-animation: none !important;
     -ms-animation: none !important;
     animation: none !important;
 }

 section.content {
     margin: 0px 15px 0 180px;
     -moz-transition: .5s;
     -o-transition: .5s;
     -webkit-transition: .5s;
     transition: .5s;
 }

 section.content::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 200px;
 }

 .pull-left {
     float: left !important;
 }

 .pull-right {
     float: right !important;
 }

 table .checkbox [type="checkbox"]+label {
     margin: 0;
     height: 20px;
     padding-left: 20px;
     vertical-align: middle;
 }

 .loading-img-spin {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 40px;
     height: 40px;
     margin: -60px 0 20px -20px;
     -webkit-animation: spin 1.5s linear infinite;
     -moz-animation: spin 1.5s linear infinite;
     animation: spin 1.5s linear infinite;
 }

 .shadow-style {
     -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
 }


 .bootstrap-notify-container {
     max-width: 320px;
     text-align: center;
 }

 .map iframe {
     width: 100%
 }


 .light .nav>li>a {
     color: #0d091d;
 }

 .border-apply {
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
 }

 .font-icon {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-bottom: 20px;
     padding: 10px;
     transition: all .2s;
 }

 .font-icon .icon-preview {
     font-size: 1.8rem;
     margin-right: 10px;
     line-height: 1;
     color: #333439;
 }

 @media screen and (min-width:1400px) {
     .boxed-layout .container {
         width: 1370px;
         max-width: 100%
     }
 }


 @media(max-width:767px) {

     .panel-switch-btn {
         top: 12px;
         right: 0 !important;
     }



     .material-icons {
         font-family: Material Icons;
         font-weight: normal;
         font-style: normal;
         font-size: 24px;
         display: inline-block;
         text-transform: none;
         letter-spacing: normal;
         word-wrap: normal;
         white-space: nowrap;
         direction: ltr;
         text-rendering: optimizeLegibility;
         font-feature-settings: 'liga';
         line-height: 1;
         height: 24px;
     }


     /*!
 * Font Awesome Free 5.3.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0,  Fonts: SIL OFL 1.1,  Code: MIT License)
 */

     .fa,
     .fas,
     .far,
     .fal,
     .fab {
         -moz-osx-font-smoothing: grayscale;
         -webkit-font-smoothing: antialiased;
         display: inline-block;
         font-style: normal;
         font-variant: normal;
         text-rendering: auto;
         line-height: 1;
     }


     @keyframes fa-spin {
         0% {
             transform: rotate(0);
         }

         100% {
             transform: rotate(360deg);
         }
     }


     .fa-instagram:before {
         content: "\f16d"
     }

     .fa-facebook:before {
         content: "\f09a"
     }

     .fa-facebook-f:before {
         content: "\f39e"
     }

     .fa-facebook-messenger:before {
         content: "\f39f"
     }

     .fa-twitter:before {
         content: "\f099"
     }

     .fa-twitter-square:before {
         content: "\f081"
     }

     .fa-whatsapp:before {
         content: "\f232"
     }

     .fa-whatsapp-square:before {
         content: "\f40c"
     }

     .fa-gift:before {
         content: "\f06b"
     }

     .fa-git:before {
         content: "\f1d3"
     }

     .fa-git-square:before {
         content: "\f1d2"
     }

     .fa-github:before {
         content: "\f09b"
     }

     .fa-github-alt:before {
         content: "\f113"
     }

     .fa-github-square:before {
         content: "\f092"
     }

     .fa-linkedin-in:before {
         content: "\f0e1"
     }


     .sr-only {
         border: 0;
         clip: rect(0, 0, 0, 0);
         height: 1px;
         margin: -1px;
         overflow: hidden;
         padding: 0;
         position: absolute;
         width: 1px;
     }

     .sr-only-focusable:active,
     .sr-only-focusable:focus {
         clip: auto;
         height: auto;
         margin: 0;
         overflow: visible;
         position: static;
         width: auto;
     }


     @font-face {
         font-family: 'Font Awesome 5 Free';
         font-style: normal;
         font-weight: 400;
         src: url("../fonts/fontawesome/fa-regular-400.eot");
         src: url("../fonts/fontawesome/fa-regular-400d41d.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-regular-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-regular-400.woff") format("woff"), url("../fonts/fontawesome/fa-regular-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-regular-400.svg#fontawesome") format("svg");
     }

     .far {
         font-family: 'Font Awesome 5 Free';
         font-weight: 400;
     }

     @font-face {
         font-family: 'Font Awesome 5 Free';
         font-style: normal;
         font-weight: 900;
         src: url("../fonts/fontawesome/fa-solid-900.eot");
         src: url("../fonts/fontawesome/fa-solid-900d41d.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-solid-900.woff2") format("woff2"), url("../fonts/fontawesome/fa-solid-900.woff") format("woff"), url("../fonts/fontawesome/fa-solid-900.ttf") format("truetype"), url("../fonts/fontawesome/fa-solid-900.svg#fontawesome") format("svg");
     }

     .fa,
     .fas {
         font-family: 'Font Awesome 5 Free';
         font-weight: 900;
     }


     /*!
 * Font Awesome Free 5.3.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0,  Fonts: SIL OFL 1.1,  Code: MIT License)
 */

     @font-face {
         font-family: 'Font Awesome 5 Brands';
         font-style: normal;
         font-weight: normal;
         src: url("../fonts/fontawesome/fa-brands-400.eot");
         src: url("../fonts/fontawesome/fa-brands-400d41d.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fa-brands-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-brands-400.woff") format("woff"), url("../fonts/fontawesome/fa-brands-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-brands-400.svg#fontawesome") format("svg");
     }

     .fab {
         font-family: 'Font Awesome 5 Brands'
     }


     .dz-drag-hover {
         border: 2px dashed #888 !important;
     }

     .col-auto {
         padding-left: 15px;
         padding-right: 15px;
     }


     .text-muted {
         color: #919aa3 !important;
         margin-bottom: 10px;
     }

     .img-100 {
         width: 100px;
     }



     .bg-c-blue {
         background: linear-gradient(45deg, #4099ff, #73b4ff);
     }

     .bg-c-green {
         background: linear-gradient(45deg, #2ed8b6, #59e0c5);
     }

     .bg-c-yellow {
         background: linear-gradient(45deg, #ffb64d, #ffcb80);
     }

     .bg-c-pink {
         background: linear-gradient(45deg, #ff5370, #ff869a);
     }

     .box-part {
         background: #fff;
         border-radius: 10px;
         padding: 30px 15px;
         margin: 5px 0 23px;
     }

     @-webkit-keyframes animate-positive {
         0% {
             width: 0;
         }
     }

     @keyframes animate-positive {
         0% {
             width: 0;
         }
     }

     .form-check,
     label {
         font-size: 13px;
         line-height: 1.42857;
         color: #414244;
         font-weight: 400;
     }

     section.content,
     body.ls-closed section.content {
         margin-right: 0;
         margin-left: 30px;
     }
 }

 @media(max-width:600px) {

     .ls-closed .bars:after,
     .ls-closed .bars:before {
         top: 3px;
     }
 }

 .form-horizontal .form-group {
     margin-bottom: 0;
 }

 .form-group {
     width: 100%;
     margin-bottom: 25px;
 }

 .form-group .form-control {
     width: 100%;
     border: 0;
     box-shadow: none;
     border-bottom: 1px solid #9e9e9e;
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     -ms-border-radius: 0;
     border-radius: 0;
     padding-left: 0;
 }

 .form-group input.form-control {
     margin: 0;
     font-size: 13px;
 }

 .form-group .help-info {
     float: right;
     font-size: 12px;
     margin-top: 5px;
     color: #999;
 }

 .form-group label.error {
     font-size: 12px;
     display: block;
     margin-top: 5px;
     font-weight: normal;
     color: #f44336;
 }

 .form-group .form-line {
     width: 100%;
     position: relative;
 }

 .form-group .form-line:after {
     content: '';
     position: absolute;
     left: 0;
     width: 100%;
     height: 0;
     bottom: -1px;
     -moz-transform: scaleX(0);
     -ms-transform: scaleX(0);
     -o-transform: scaleX(0);
     -webkit-transform: scaleX(0);
     transform: scaleX(0);
     -moz-transition: .25s ease-in;
     -o-transition: .25s ease-in;
     -webkit-transition: .25s ease-in;
     transition: .25s ease-in;
     border-bottom: 2px solid #1f91f3;
 }

 .form-group .form-line .form-label {
     font-weight: normal;
     color: #aaa;
     position: absolute;
     top: 10px;
     left: 0;
     cursor: text;
     -moz-transition: .2s;
     -o-transition: .2s;
     -webkit-transition: .2s;
     transition: .2s;
 }

 .form-group .form-line.error:after {
     border-bottom: 2px solid #f44336;
 }

 .form-group .form-line.success:after {
     border-bottom: 2px solid #4caf50;
 }

 .form-group .form-line.warning:after {
     border-bottom: 2px solid #ffc107;
 }

 .form-group .form-line.focused:after {
     -moz-transform: scaleX(1);
     -ms-transform: scaleX(1);
     -o-transform: scaleX(1);
     -webkit-transform: scaleX(1);
     transform: scaleX(1);
 }

 .form-group .form-line.focused .form-label {
     top: -10px;
     left: 0;
     font-size: 12px;
 }

 .form-group-sm .form-label {
     font-size: 12px;
 }

 .form-group-sm .form-line.focused .form-label {
     bottom: 20px;
     font-size: 10px;
 }

 .form-group-lg .form-label {
     font-size: 18px;
 }

 .form-group-lg .form-line.focused .form-label {
     bottom: 35px;
     font-size: 12px;
 }

 .form-control[disabled],
 .form-control[readonly],
 fieldset[disabled] .form-control {
     background-color: transparent;
 }

 .caret {
     display: inline-block;
     width: 0;
     height: 0;
     margin-left: 2px;
     vertical-align: middle;
     border-top: 4px dashed;
     border-top: 4px solid \9;
     border-right: 4px solid transparent;
     border-left: 4px solid transparent;
 }

 .input-group-addon,
 .input-group-btn,
 .input-group .form-control {
     display: table-cell;
 }

 .form-check {
     margin-bottom: .5rem;
     padding-left: 0;
 }

 .form-check .form-check-label {
     cursor: pointer;
     padding-left: 25px;
     position: relative;
     padding-right: 15px;
 }

 .form-check .form-check-label span {
     display: block;
     position: absolute;
     left: -1px;
     top: -1px;
     transition-duration: .2s;
     padding-left: 0;
 }

 .form-check .form-check-input {
     opacity: 0;
     height: 0;
     width: 0;
     overflow: hidden;
     position: absolute;
     margin: 0;
     z-index: -1;
     left: 0;
     pointer-events: none;
 }



 .form-control-radious {
     background-color: transparent !important;
     border: 1px solid #acacac !important;
     border-radius: 30px !important;
     font-size: 13px !important;
     box-shadow: none !important;
     text-indent: 10px;
     height: 33px !important;
 }

 .form-control-radious:focus {
     border: 1px solid #4fc0a1 !important;
 }

 .form-control-textarea-radious {
     background-color: transparent !important;
     border: 1px solid #acacac !important;
     border-radius: 7px !important;
     font-size: 13px !important;
     box-shadow: none !important;
     text-indent: 10px;
     height: 60px !important;
 }

 .form-control-textarea-radious:focus {
     border: 1px solid #4fc0a1 !important;
 }

 .default-select select {
     width: 100px;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
 }

 .label {
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     border-radius: 10px;
     padding: 2px 10px;
     color: #fff;
     display: inline-block;
 }

 .label-default {
     background-color: #777;
 }

 .label-primary {
     background-color: #1f91f3;
 }

 .label-success {
     background-color: #2b982b;
 }

 .label-info {
     background-color: #00b0e4;
 }

 .label-warning {
     background-color: #ff9600;
 }

 .label-danger {
     background-color: #fb483a;
 }

 .ms-container {
     width: auto !important;
 }

 .ms-container .ms-list {
     -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
     -ms-box-shadow: none !important;
     box-shadow: none !important;
     -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
     -ms-border-radius: 0 !important;
     border-radius: 0 !important;
 }

 .ms-container .ms-list.ms-focus {
     -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
     -ms-box-shadow: none !important;
     box-shadow: none !important;
 }

 .ms-container .ms-selectable,
 .ms-container .ms-selection {
     min-width: 250px !important;
 }

 .ms-container .ms-selectable li.ms-hover,
 .ms-container .ms-selection li.ms-hover {
     color: #000 !important;
     background-color: #e6e6e6 !important;
 }

 .ms-container .ms-selectable li.ms-elem-selectable,
 .ms-container .ms-selectable li.ms-elem-selection,
 .ms-container .ms-selection li.ms-elem-selectable,
 .ms-container .ms-selection li.ms-elem-selection {
     padding: 9px 15px 6px 15px !important;
 }

 .ms-container .ms-optgroup-label {
     padding: 5px 0 0 8px !important;
 }


 .sidebar {
     -moz-transition: all .5s;
     -o-transition: all .5s;
     -webkit-transition: all .5s;
     transition: all .5s;
     font-family: "Poppins", sans-serif;
     background: #fff;
     width: 170px;
     overflow: hidden;
     display: inline-block;
     position: fixed !important;
     top: 0px;
     left: 0;
     z-index: 1030 !important;
     border-radius: 0 20px 20px 0;
     box-shadow: 6px 4px 30px 0px rgb(0, 0, 0, 0.25);
     height: 100%;

 }


 .sidebar .menu {
     position: relative;
     overflow-y: auto;
     height: 100vh;

 }

 .sidebar .menu .list {
     list-style: none;
     padding-left: 0;
 }

 .sidebar .menu .list li.active>:first-child span {
     font-weight: bold;
 }

 .sidebar .menu .list .header {
     font-size: 12px;
     font-weight: 600;
     padding: 15px 25px 0;
     color: gray;
 }

 .sidebar .menu .list i.material-icons {
     font-size: 15px;
 }

 .sidebar .menu .list i.fas {
     font-size: 15px;
 }

 .sidebar .menu .list i.far {
     font-size: 15px;
 }

 .sidebar .menu .list i.fab {
     font-size: 15px;
 }

 .sidebar .menu .list i.fa {
     font-size: 15px;
 }

 .sidebar .menu .list i.menu-icon {
     font-size: 16px;
     vertical-align: middle;
 }

 .sidebar .menu .list .active .menu-toggle {
     background: rgba(146, 144, 144, 0.28);
 }

 .sidebar .menu .list .active .menu-icon {
     color: #333;
 }

 .sidebar .menu .list .menu-toggle:after,
 .sidebar .menu .list .menu-toggle:before {
     position: absolute;
     top: calc(50% - 11px);
     right: 17px;
     font-size: 19px;
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     -webkit-transform: scale(0);
     transform: scale(0);
     -moz-transition: all .3s;
     -o-transition: all .3s;
     -webkit-transition: all .3s;
     transition: all .3s;
 }

 .sidebar .menu .list .menu-toggle:before {
     content: "+";
     -moz-transform: scale(1);
     -ms-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transform: scale(1);
     transform: scale(1);
 }

 .sidebar .menu .list .menu-toggle:after {
     content: '\2013';
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     -webkit-transform: scale(0);
     transform: scale(0);
 }

 .sidebar .menu .list .menu-toggle.toggled:before {
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     -webkit-transform: scale(0);
     transform: scale(0);
 }

 .sidebar .menu .list .menu-toggle.toggled:after {
     -moz-transform: scale(1);
     -ms-transform: scale(1);
     -o-transform: scale(1);
     -webkit-transform: scale(1);
     transform: scale(1);
 }

 .sidebar .menu .list a {
     color: #545454;
     position: relative;
     vertical-align: middle;
     font-size: 14px;
     display: block;
     overflow: hidden;
     line-height: 2rem;
     padding: 9px 9px 9px 18px;
     margin: 8px 0 0 0;
 }

 .sidebar .menu .list a:hover,
 .sidebar .menu .list a:active,
 .sidebar .menu .list a:focus {
     text-decoration: none !important;
     background-color: rgba(0, 0, 0, 0.03);
 }

 .sidebar .menu .list a small {
     position: absolute;
     top: calc(50% - 7.5px);
     right: 15px;
 }

 .sidebar .menu .list a span {
     margin: 7px 0 7px 7px;
     color: #333;
     font-size: 14px;
     overflow: hidden;
 }

 .sidebar .menu .list .ml-menu {
     list-style: none;
     display: none;
     padding-left: 0;
 }

 .sidebar .menu .list .ml-menu span {
     font-weight: normal;
     font-size: 14px;
     margin: 3px 0 1px 6px;
 }

 .sidebar .menu .list .ml-menu li a {
     padding-left: 50px;
     padding-top: 7px;
     padding-bottom: 7px;
 }

 .sidebar .menu .list .ml-menu li a:before {
     font-family: 'Material Icons';
     position: relative;
     font-size: 13px;
     height: 20px;
     top: 0;
     right: 5px;
 }

 .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
     content: '';
     display: block;
     width: 7px;
     height: 7px;
     border-radius: 50%;
     position: absolute;
     background-color: #777676;
     border-color: #777676;
     left: 18%;
     top: 50%;
     -webkit-transform: translate(-10px, -50%);
     -moz-transform: translate(-10px, -50%);
     -ms-transform: translate(-10px, -50%);
     -o-transform: translate(-10px, -50%);
     transform: translate(-10px, -50%);
     opacity: 1;
     -webkit-transition: all .2s ease;
     -o-transition: all .2s ease;
     -moz-transition: all .2s ease;
     transition: all .2s ease;
 }

 .sidebar .menu .list .ml-menu li .ml-menu li a {
     padding-left: 80px;
 }

 .sidebar .menu .list .ml-menu li .ml-menu .ml-menu li a {
     padding-left: 95px;
 }

 .sidebar .menu .active .menu-toggle {
     border-right: 2px solid #333;
 }

 .user-img-circle {
     background: #fff;
     z-index: 1000;
     position: inherit;
     border: 1px solid rgba(52, 73, 94, 0.44);
     padding: 2px;
     box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
 }

 .img-circle {
     border-radius: 50%
 }

 .sidebar-userpic-btn {
     display: flex;
     place-content: space-around;
     font-size: 18px;
     width: 190px;
     text-align: center;
     margin: auto;
 }

 .sidebar-userpic-btn a {
     color: #aaadb7;
 }

 .sidebar-userpic-btn a:hover {
     background-color: transparent !important;
 }

 .sidebar-profile {
     margin: 20px auto 10px;
     overflow: hidden;
     text-align: center;
     width: 80%
 }

 .profile-img {
     float: left;
     height: 40px;
     margin-right: 10px;
     width: 40px;
 }

 .profile-img img {
     border-radius: 6px;
     box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.2);
 }

 .profile-info {
     overflow: hidden;
     text-align: left;
 }

 .profile-info>h3 {
     font-size: 15px;
     text-transform: capitalize;
     color: #333;
     margin-bottom: 2px;
 }

 .profile-info>p {
     color: #333;
     font-size: 11px;
     margin-top: 5px;
 }

 .leftSideProgress {
     padding: 0 20px 10px 20px;
 }

 .logo-name {
     color: white;
     font-size: 24px;
     font-weight: 400;
 }

 .label-count {
     position: absolute;
     top: 5px;
     right: 10px;
     font-size: 10px;
     line-height: 15px;
     background-color: #000;
     padding: 3px 3px;
     border-radius: 3px;
 }

 span.notify {
     width: 5px;
     height: 5px;
     position: absolute;
     top: 8px;
     right: 7px;
     border-radius: 50%;
     background-color: #30cdab;
 }


 .nav {
     padding-left: 0;
     margin-bottom: 0;
     list-style: none;
 }

 .nav>li {
     position: relative;
     display: block;
 }

 .nav>li>a {
     position: relative;
     margin: 8px 5px;
     height: 30px;
 }


 @media screen and (min-width:601px) {
     nav {
         height: 60px;
         line-height: 45px;
     }
 }


 .nav-tabs {
     border-bottom: 2px solid #eee;
 }

 .nav-tabs>li {
     position: relative;
     top: 3px;
     left: -2px;
 }

 .nav-tabs>li>a {
     color: #999 !important;
     height: 39px;
     display: block;
     padding: 0 11px;
     line-height: 2rem;
     margin: 8px 0 0 0;
 }

 .nav-tabs>li>a:hover,
 .nav-tabs>li>a:active,
 .nav-tabs>li>a:focus {
     background-color: transparent !important;
 }

 .nav-tabs>li>a:before {
     content: "";
     position: absolute;
     left: 0;
     width: 100%;
     height: 0;
     border-bottom: 2px solid #2196f3;
     bottom: 2px;
     -moz-transform: scaleX(0);
     -ms-transform: scaleX(0);
     -o-transform: scaleX(0);
     -webkit-transform: scaleX(0);
     transform: scaleX(0);
     -moz-transition: .1s ease-in;
     -o-transition: .1s ease-in;
     -webkit-transition: .1s ease-in;
     transition: .1s ease-in;
 }

 .nav-tabs>li>a .material-icons {
     position: relative;
     top: 7px;
     margin-bottom: 8px;
 }

 .nav-tabs li a.active {
     color: #222 !important;
 }

 .nav-tabs li a.active:hover,
 .nav-tabs li a.active:active,
 .nav-tabs li a.active:focus {
     background-color: transparent !important;
 }

 .nav-tabs li a.active:before {
     -moz-transform: scaleX(1);
     -ms-transform: scaleX(1);
     -o-transform: scaleX(1);
     -webkit-transform: scaleX(1);
     transform: scaleX(1);
 }

 .nav-tabs+.tab-content {
     padding: 15px 0;
 }

 .nav-tabs.tab-col-red>li>a:before {
     border-bottom: 2px solid #f44336;
 }

 .nav-tabs.tab-col-pink>li>a:before {
     border-bottom: 2px solid #e91e63;
 }

 .nav-tabs.tab-col-purple>li>a:before {
     border-bottom: 2px solid #9c27b0;
 }

 .nav-tabs.tab-col-deep-purple>li>a:before {
     border-bottom: 2px solid #673ab7;
 }

 .nav-tabs.tab-col-indigo>li>a:before {
     border-bottom: 2px solid #3f51b5;
 }

 .nav-tabs.tab-col-blue>li>a:before {
     border-bottom: 2px solid #2196f3;
 }

 .nav-tabs.tab-col-light-blue>li>a:before {
     border-bottom: 2px solid #03a9f4;
 }

 .nav-tabs.tab-col-cyan>li>a:before {
     border-bottom: 2px solid #00bcd4;
 }

 .nav-tabs.tab-col-teal>li>a:before {
     border-bottom: 2px solid #009688;
 }

 .nav-tabs.tab-col-green>li>a:before {
     border-bottom: 2px solid #4caf50;
 }

 .nav-tabs.tab-col-light-green>li>a:before {
     border-bottom: 2px solid #8bc34a;
 }

 .nav-tabs.tab-col-lime>li>a:before {
     border-bottom: 2px solid #cddc39;
 }

 .nav-tabs.tab-col-yellow>li>a:before {
     border-bottom: 2px solid #ffe821;
 }

 .nav-tabs.tab-col-amber>li>a:before {
     border-bottom: 2px solid #ffc107;
 }

 .nav-tabs.tab-col-orange>li>a:before {
     border-bottom: 2px solid #ff9800;
 }

 .nav-tabs.tab-col-deep-orange>li>a:before {
     border-bottom: 2px solid #ff5722;
 }

 .nav-tabs.tab-col-brown>li>a:before {
     border-bottom: 2px solid #795548;
 }

 .nav-tabs.tab-col-grey>li>a:before {
     border-bottom: 2px solid #9e9e9e;
 }

 .nav-tabs.tab-col-blue-grey>li>a:before {
     border-bottom: 2px solid #607d8b;
 }

 .nav-tabs.tab-col-black>li>a:before {
     border-bottom: 2px solid #000;
 }

 .nav-tabs.tab-col-white>li>a:before {
     border-bottom: 2px solid #fff;
 }


 .range-label span {
     width: 100%;
     text-align: center;
     color: #fff;
     font-size: 12px;
     transform: rotate(45deg);
     opacity: 0;
     position: absolute;
     top: 7px;
     left: -1px;
     transition: opacity .25s cubic-bezier(0.215, 0.61, 0.355, 1);
 }


 .todo-action-bar {
     margin-top: 20px;
 }

 .todo-check {
     width: 20px;
     position: relative;
     margin-right: 10px;
     margin-left: 10px;
 }

 .todo-check input[type=checkbox] {
     visibility: hidden;
 }

 .todo-check label {
     cursor: pointer;
     position: absolute;
     width: 20px;
     height: 20px;
     top: 0;
     left: 0;
     border-radius: 2px;
 }

 .todo-done i {
     font-size: 14px;
 }

 .todo-remove i {
     font-size: 10px;
 }

 .inbox-small-cells .todo-check input[type=checkbox] {
     visibility: hidden;
 }


 #wrap {
     width: 100%;
     margin: 0 auto;
 }


 #event_title {
     font-size: 1.2rem;
 }

 #calendar {
     float: right;
     width: 100%
 }


 .online {
     margin-right: 3px;
     font-size: 10px;
     color: #86bb71;
 }

 .offline {
     margin-right: 3px;
     font-size: 10px;
     color: #e38968;
 }

 .me {
     margin-right: 3px;
     font-size: 10px;
     color: #0498bd;
 }

 .float-right {
     float: right;
 }

 .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }

 .slimScrollBar {
     z-index: 0 !important;
 }

 .contact-usertitle {
     text-align: center;
     margin-top: 5px;
 }

 .contact-usertitle-name {
     font-size: 20px;
     margin-bottom: 2px;
     font-weight: bold;
     color: #3a405b;
 }

 .contact-usertitle-job {
     color: #777;
     font-size: 12px;
     margin-bottom: 5px;
 }

 .newLabelBtn {
     padding: 20px 0;
     text-align: center;
 }


 .contact_list .phone {
     position: relative;
     padding-left: 20px;
 }

 .contact_list .phone .material-icons {
     position: absolute;
     left: 0;
     font-size: 16px;
     top: 1px;
 }

 .contact-grid {
     float: left;
     width: 100%;
     text-align: center;
 }

 .profile-header {
     min-height: 200px;
     color: #fff;
 }

 .user-name {
     padding: 3px;
     font-size: 22px;
     text-align: center;
     padding-top: 10px;
 }

 .user-img {
     padding: 3px;
     border-radius: 50% 50% 50% 50%;
     max-width: 200px;
     margin-top: -100px;
     box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
     margin-bottom: 20px;
 }

 .user-logo {
     border-radius: 50% 50% 50% 50%;
     transform: translateX(0%) translateY(10%);
     max-width: 120px;
     margin-bottom: 40px;
 }

 .contact-grid .phone .material-icons {
     font-size: 16px;
     padding: 4px 7px 40px 0;
 }

 .categories ul li a,
 .categories ul li a:active,
 .categories ul li a:hover {
     line-height: 24px;
     background: rgb(70, 61, 61);
     color: #4e5961;
     text-decoration: none;
 }

 .portfolio-item {
     position: relative;
     margin-bottom: 30px;
     transform: scale(1);
     opacity: 1;
     transition: all .4s ease-out;
 }

 .portfolio-item.filtered {
     transform: scale(0.5);
     opacity: .2;
     cursor: default;
 }

 .portfolio-item.filtered a {
     cursor: default;
 }

 .portfolio-item.filtered .enlarge {
     display: none;
 }

 .portfolio-item.filtered .link {
     display: none;
 }

 .portfolio-item.filtered .overlay-mask {
     display: none;
 }

 .portfolio-item.filtered .project-title {
     display: none;
 }

 .categories ul {
     list-style: none;
     padding: 0;
     margin: 0;
     margin-bottom: 20px;
     text-align: center;
 }

 .categories ul li {
     display: inline-block;
     padding: 0;
     line-height: 24px;
     background: transparent;
     margin: 0;
     margin-left: 5px;
     margin-bottom: 10px;
 }

 .categories ul li a {
     display: block;
     font-size: 18px;
     font-weight: 500;
     padding: 10px 20px;
     border-radius: 5px;
     border: 2px solid transparent;
     transition: all .2s ease-out;
 }

 .categories ul li a:hover {
     color: #fff;
     background: #5b979b;
 }

 .categories ul li.active a {
     color: #fff;
     background: #5b979b;
 }

 .projects-container .row {
     transition: height .5s ease-out;
 }

 .no-opacity .portfolio-item.filtered {
     display: none;
 }

 .pad {
     padding-left: 0;
     padding-right: 0;
     display: flex;
 }

 .move {
     text-align: center;
     background: #eee;
 }

 .move .btn {
     margin-bottom: 20px;
 }

 .board {
     float: left;
     position: relative;
     max-width: 300px;
     height: auto;
     margin: 8px;
     background-color: lightgray;
     border-radius: 3px;
     box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
 }

 .cards {
     padding: 4px 8px;
 }

 .totalEarning {
     text-align: center;
     padding: 6px;
     color: #ff9800;
 }

 .earningProgress .progress {
     height: 9px;
 }

 .p-15 {
     padding: 15px;
 }

 .p-10 {
     padding: 10px;
 }

 .b-b {
     border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 }

 .composeForm {
     padding: 25px;
 }

 .inbox-body {
     padding: 20px;
 }

 .replyBox {
     border: 1px solid rgba(120, 130, 140, 0.13);
     padding: 20px;
 }

 .greenColor .heading {
     font-size: 24px;
     color: #40c952;
     margin-bottom: 20px;
     text-transform: uppercase;
 }

 .profile-tab-box {
     background: #fff;
     padding: 10px;
     margin-top: 10px;
     margin-bottom: 15px;
     width: 100%
 }

 .skill-progress {
     height: 10px;
 }

 .tab-all a {
     color: #948f8f !important;
 }

 .tab-all a.active {
     background-color: #5eb1ca !important;
     box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6);
     color: #fff !important;
     border-radius: 30px;
     height: 35px;
 }

 .cd-container {
     width: 90%;
     max-width: 1170px;
     margin: 0 auto;
 }

 .cd-container::after {
     content: '';
     display: table;
     clear: both;
 }

 header {
     height: 200px;
     line-height: 200px;
     text-align: center;
     background: #303e49;
 }

 header h1 {
     color: #fff;
     font-size: 18px;
     font-size: 1.125rem;
 }

 .morris-hover.morris-default-style {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     -ms-border-radius: 0;
     border-radius: 0;
 }

 .flot-chart {
     width: 100%;
     height: 320px;
 }

 .panel-switch-btn {
     position: relative;
     right: 20px;
     z-index: 9;
 }

 .panel-switch-btn label {
     font-weight: bold !important;
 }

 .legendLabel {
     width: 85px !important;
     position: relative;
     left: 3px;
 }

 #multiple_axis_chart .legendLabel {
     width: 160px !important;
 }

 .sparkline {
     text-align: center;
 }

 .chart-box {
     display: flex;
     justify-content: space-between;
     font-size: 14px;
     margin-bottom: 30px;
 }

 .chart-box2 {
     font-size: 14px;
     margin-bottom: 30px;
     text-align: center;
 }

 .chart-note {
     text-transform: capitalize;
     display: inline-block;
     margin-right: 12px;
     font-size: 14px;
 }

 .chart-note .dot {
     margin-right: 7px;
 }

 .chart-statis {
     display: inline-block;
     margin-right: 35px;
 }

 .chart-statis .label {
     display: block;
     text-transform: capitalize;
     line-height: 1.2;
 }

 .chart-statis .index {
     font-size: 18px;
     color: #333;
     padding-left: 15px;
 }

 .dot {
     display: inline-block;
     width: 10px;
     height: 10px;
     border-radius: 100%
 }

 .dot-black {
     background: #000;
 }

 .dot-orange {
     background: #f96332;
 }

 .chart-box-left {
     padding-left: 10px;
 }

 .area_chart-style {
     height: 170px;
     margin: 30px;
 }

 .chart-shadow2 {
     -webkit-filter: drop-shadow(0 -6px 4px rgba(106, 141, 247, 0.5));
     filter: drop-shadow(0 -6px 4px rgba(106, 141, 247, 0.5));
 }

 .chart-shadow {
     -webkit-filter: drop-shadow(0 9px 2px rgba(0, 0, 0, 0.3));
     filter: drop-shadow(0 9px 2px rgba(0, 0, 0, 0.3));
 }

 .chartsh {
     height: 16rem;
 }

 .axisData {
     position: absolute;
     color: #fff;
     z-index: 1;
     text-transform: uppercase;
     display: flex;
     width: 100%;
     bottom: 0;
 }

 .axisData .tick {
     flex: 1;
     position: relative;
     overflow: hidden;
     opacity: .2;
     font-size: 11px;
     text-align: center;
     line-height: 40px;
     padding-top: 150px;
 }

 .axisData .tick:hover {
     opacity: 1;
     background-color: rgba(255, 255, 255, 0.2);
 }

 .axisData .tick:hover .value.productValue {
     transform: translateY(0);
     display: block;
 }

 .axisData .tick:hover .value.serviceValue {
     transform: translateY(0);
     display: block;
     left: 0;
     top: 80px;
     color: #000;
     transition: .3s transform;
 }

 .axisData .tick .value {
     transform: translateY(20px);
     transition: .3s transform;
     position: absolute;
     top: 20px;
     color: #000;
     border-radius: 2px;
     width: 100%;
     line-height: 20px;
 }

 .dot-product {
     background: #f6699c;
 }

 .dot-service {
     background: #7f55fc;
 }

 #barChart,
 #barImg,
 #lineChart,
 #donutChart,
 #pieChart,
 #gaugeChart,
 #radialLineChart,
 #dumbbellPlotChart {
     width: 100%;
     height: 400px;
 }

 #amChartBar,
 #amChartCylinder,
 #amChartGauge {
     width: 100%;
     height: 200px;
 }

 #amChartLineHome,
 #amChartCylinderHome {
     width: 100%;
     height: 300px;
 }

 #mapBubble {
     width: 100%;
     height: 500px;
 }

 #amChartLineWidget {
     width: 100%;
     height: 350px;
 }

 #tableExport_wrapper {
     padding: 10px 0;
 }

 .lg-outer .lg-thumb-item,
 .lg-outer .lg-toogle-thumb {
     -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
     -ms-border-radius: 0 !important;
     border-radius: 0 !important;
 }

 .gmap {
     width: 100%;
     height: 400px;
 }

 .jqv-map {
     width: 100%;
     height: 600px;
 }

 #vmap_usa,
 #vmap_russia,
 #vmap_europe,
 #vmap_germany {
     width: 400px;
     height: 400px;
 }

 #worldMap2 {
     width: 100%;
     height: 390px;
     overflow: hidden;
 }

 .datamap-hoverinfo {
     background: #4fc0a1;
     padding: 5px 10px;
     color: #fff;
     font-weight: 400;
     font-size: 12px;
     text-transform: capitalize;
     border-radius: 3px;
 }

 .list-inline {
     padding-left: 0;
     list-style: none;
 }

 .list-unstyled {
     padding-left: 0;
     list-style: none;
 }

 tr.group,
 tr.group:hover {
     background-color: #ddd !important;
 }


 .tbl-checkbox {
     vertical-align: bottom !important;
     text-align: center;
 }

 td.details-control {
     background: url("../images/details_open.png") no-repeat center center;
     cursor: pointer;
 }

 .btn:focus {
     outline: none !important;
 }

 .cardJms {
     position: relative;
     display: -ms-flexbox;
     display: -webkit-box;
     display: flex;
     -ms-flex-direction: column;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;


     margin: .5rem 0 1rem 0;
     -webkit-transition: -webkit-box-shadow .25s;
     transition: -webkit-box-shadow .25s;
     transition: box-shadow .25s;
     transition: box-shadow .25s, -webkit-box-shadow .25s;

 }

 .card .header {
     color: #555;
     padding: 15px;
     position: relative;
 }

 .card .body {
     font-size: 16px;
     color: #555;
     padding: 15px;
 }

 .card .body .col-xs-1,
 .card .body .col-sm-1,
 .card .body .col-md-1,
 .card .body .col-lg-1 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-2,
 .card .body .col-sm-2,
 .card .body .col-md-2,
 .card .body .col-lg-2 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-3,
 .card .body .col-sm-3,
 .card .body .col-md-3,
 .card .body .col-lg-3 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-4,
 .card .body .col-sm-4,
 .card .body .col-md-4,
 .card .body .col-lg-4 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-5,
 .card .body .col-sm-5,
 .card .body .col-md-5,
 .card .body .col-lg-5 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-6,
 .card .body .col-sm-6,
 .card .body .col-md-6,
 .card .body .col-lg-6 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-7,
 .card .body .col-sm-7,
 .card .body .col-md-7,
 .card .body .col-lg-7 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-8,
 .card .body .col-sm-8,
 .card .body .col-md-8,
 .card .body .col-lg-8 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-9,
 .card .body .col-sm-9,
 .card .body .col-md-9,
 .card .body .col-lg-9 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-10,
 .card .body .col-sm-10,
 .card .body .col-md-10,
 .card .body .col-lg-10 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-11,
 .card .body .col-sm-11,
 .card .body .col-md-11,
 .card .body .col-lg-11 {
     margin-bottom: 20px;
 }

 .card .body .col-xs-12,
 .card .body .col-sm-12,
 .card .body .col-md-12,
 .card .body .col-lg-12 {
     margin-bottom: 20px;
 }

 .plain-card {
     -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
     padding: 20px;
     padding-right: 35px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 10px;
     background: #fff;
     overflow: hidden;
     margin-bottom: 26px;
     margin: .5rem 0 1rem 0;
 }

 .card-inner .progress {
     height: 10px;
     margin: 0;
 }

 .col-block {
     margin-left: 5px;
 }

 .card-height-100 {
     height: 100px;
 }

 .banner-card {
     background: #fff;
     min-height: 50px;
     box-shadow: none;
     border: 0;
     position: relative;
     margin-bottom: 24px;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     border-radius: 10px;
 }


 .right {
     float: right !important;
 }


 .progress {
     -webkit-border-radius: 0;
     -moz-border-radius: 0;
     -ms-border-radius: 0;
     border-radius: 0;
     height: 16px;
 }

 .progress.progress-xs {
     height: 4px;
 }

 .progress.progress-s {
     height: 6px;
 }

 .progress .progress-bar {
     line-height: 16px;
     background-color: #1f91f3;
 }

 .progress .progress-bar-success {
     background-color: #2b982b;
 }

 .progress .progress-bar-info {
     background-color: #00b0e4;
 }

 .progress .progress-bar-warning {
     background-color: #ff9600;
 }

 .progress .progress-bar-danger {
     background-color: #fb483a;
 }

 .progress-list {
     position: relative;
 }

 .progress-list .status {
     display: inline-block;
     font-size: 12px;
     padding: 6px;
     position: absolute;
     right: 0;
     top: 0;
 }


 html.ie11 .search-bar input[type="text"] {
     padding: 26px 60px 26px 56px;
 }


 html.ie11 .bs-searchbox .form-control {
     width: 90%
 }

 section.contact ul.list-social {
     margin-bottom: 0
 }

 section.contact ul.list-social li a {
     font-size: 20px;
     line-height: 40px;
     display: block;
     width: 40px;
     height: 40px;
     color: #fff;
     border-radius: 100%
 }

 section.contact ul.list-social li.social-twitter a {
     background-color: #1da1f2
 }

 section.contact ul.list-social li.social-twitter a:hover {
     background-color: #0d95e8
 }

 section.contact ul.list-social li.social-facebook a {
     background-color: #3b5998
 }

 section.contact ul.list-social li.social-facebook a:hover {
     background-color: #344e86
 }

 section.contact ul.list-social li.social-whatsapp a {
     background-color: #25D366
 }

 section.contact ul.list-social li.social-whatsapp a:hover {
     background-color: #15b450
 }

 section.contact ul.list-social li.social-instagra a {
     background-color: #e4405f
 }

 section.contact ul.list-social li.social-instagra a:hover {
     background-color: #b13b51
 }

 section.contact ul.list-social li.social-linkedIn a {
     background-color: #0e76a8
 }

 section.contact ul.list-social li.social-linkedIn a:hover {
     background-color: #073b53
 }

 .name-center {
     font-size: 20px;
 }

 .inicio {
     padding: 150px 10px 70px 10px;
     font-size: 60px;
 }

 .name-inicio {
     font-size: 60px;
 }

 .inicio_texte3D {
     color: #5b979b;
     text-transform: uppercase;
     text-shadow: 0 2px 0 #8b6e15,
         0 4px 0 #7c6213,
         0 6px 0 #6e5611,
         0 8px 0 #5f4b0e,
         0 10px 0 #503f0c,
         0 12px 0 #41330a,
         3px 8px 15px rgba(0, 0, 0, 0.1),
         3px 8px 5px rgba(0, 0, 0, 0.3);
 }

 .inicio_texte {
     font-size: 80px;
     font-family: monospace;
     font-weight: bold;
     font-family: "tituloprincipal";
 }

 .inicio_texte2 {
     font-size: 40px;
     font-family: monospace;
     font-weight: bold;
     font-family: "tituloprincipal";
 }

 .jms1 {
     animation: backInDown;
     animation-duration: 1s;
 }

 .jms2 {
     animation: backInDown;
     animation-duration: 2s;
 }

 .jms3 {
     animation: backInDown;
     animation-duration: 3.5s;
 }

 .inicio_texteX {
     color: #5b979b;
     font-size: 40px;
     font-family: monospace;
     font-weight: bold;
     font-family: "minhaFonte", sans-serif;

 }

 .nome_titulo {
     font-size: 60px;
     color: #5b979b;
     font-family: monospace;
     font-weight: bold;
     font-family: "tituloprincipal";
 }

 .subtitulo {
     font-size: 20px;
     animation: zoomIn;

 }

 .botton {
     padding: 0px 0px 80px 0px;

 }

 .top {
     padding: 50px 15px 0px 40px;

 }

 .xl {
     transition: 0.5s;
     font-family: Arial, Helvetica, sans-serif;
 }

 .xl:hover {
     text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
         0 3px 0 #ccc, 0 4px 0 #ccc,
         0 5px 0 #ccc, 0 6px 0 #ccc,
         0 7px 0 #ccc, 0 8px 0 #ccc,
         0 9px 0 #ccc, 0 10px 0 #ccc,
         0 11px 0 #ccc, 0 12px 0 #ccc,
         0 20px 30px rgba(0, 0, 0, 0.5);
 }

 .precisas {
     padding: 10%;
     text-align: center;
 }

 .vertical {
     transform: rotate(-90deg);
     height: 100px;
     margin: 10px;
 }

 .img_center {
     text-align: center;
 }

 .btn_jms {
     background-color: #5b979b;
     width: 20%;
     color: #fff;
     border-radius: 25px;
     padding: 8px;
     font-family: minhaFonte;
     height: 50px;
 }

 .btn_jms:hover {
     color: #5b979b;
     background-color: #fff;
 }

 @font-face {
     font-family: minhaFonte;
     src: url("../fonts/comfortaa/Comfortaa-Bold.ttf");
     font-style: normal;
     font-weight: 400;
 }


 @font-face {
     font-family: tituloprincipal;
     src: url("../fonts/al_nevrada/AL_Nevrada_Personal_Use_Only.ttf");
     font-style: normal;
     font-weight: 400;
 }

 .mapa {
     height: 100%;
 }

 @font-face {
     font-family: titulo;
     src: url("../fonts/biko/Biko_Black.otf");
     font-style: normal;
     font-weight: 400;
 }

 #navegation-icon {
     padding: 10px 10px 20px;
     padding-right: 10px;
     position: absolute;
     z-index: 20000
 }



 @media screen and (min-width: 260px) and (max-width: 1201px) {

     .sidebar {
         -moz-transition: all .5s;
         -o-transition: all .5s;
         -webkit-transition: all .5s;
         transition: all .5s;
         font-family: "Poppins", sans-serif;
         background: rgb(255, 255, 255);
         width: 100%;
         overflow: hidden;
         display: inline-block;
         position: fixed !important;
         top: 0px;
         left: 0;
         z-index: 1030 !important;
         border-radius: 0 20px 20px 0;
         box-shadow: 6px 4px 30px 0px rgb(0, 0, 0, 0.25);
         height: 100%;

     }

     .h_habilidade {
         align-items: center;
         align-content: center;
         justify-content: center;
         justify-items: center;
         text-align: center;
     }

     .h_foto {
         width: 80%;
     }

     .btn_menu {
         color: #fff;
     }

     .vertical {
         transform: rotate(0deg);

     }

     .show {
         width: 0px !important;
     }

     .navegationDesktop {
         visibility: hidden;
     }

     .top {
         padding: 50px 0px 0px 40px;
     }

     section.content {
         margin: 0px 0px 0 0px;
     }

     .list {
         text-align: center;

     }


     .botaoEcoder {
         position: fixed;
         top: 0rem;
         width: 40px;
         height: 35px;
         border-radius: 5px;
         font-size: 2rem;
         color: rgb(11, 10, 10);
         justify-content: center;
         align-items: center;
         cursor: pointer;
         transition: 0.5s;
         float: right;
         right: 0rem;

         z-index: 1034 !important;
     }


     .nome_titulo {
         font-size: 35px;
     }

     .name-inicio {
         font-size: 35px;
     }

     .nome_titulo {
         font-size: 35px;
     }

     .inicio_texte {
         font-size: 35px;
     }

     .nome {
         font-size: 35px;
     }

     .inicio_texte2 {
         font-size: 20px;
     }

     .btn_jms {
         width: 80%;
     }

     .subtitulo {
         font-size: 13px;
     }

 }

 .rotate {
     /* transform: rotate(180deg); */
     transition: 0.5s;
 }

 .fundo {
     background-image: url(../images/fundo/preto.jpg);
 }

 .port_baixo {
     padding-bottom: 10%;
 }