<div class="port_baixo">
    <section class="content">
        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 top">
                    <div class="tab-content">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="cardJms project_widget">

                                    <div class="body">

                                        <h5 class="m-t-30 nome_titulo">
                                            Blogs
                                        </h5>
                                        <div class="container m-t-30 ">
                                            <div class="row">
                                                <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline">

                                                 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>12:13
                                                                    </span>
                                                                <span>Duas semanas atrás</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h2>
                                                                    <a href="#">SQL e BANCO DE DADOS</a>
                                                                </h2>
                                                                <blockquote>
                                                                    <h5>Consultas de banco de dados para uma tabela (Parte 1) </h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        "Este é um trecho do banco de dados Mondial amplamente...."
                                                                        <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/SQL.png" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                     
                                                      

                                                    </div>
                                                </div>
                                              
                                                <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline">

                                                 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>12:13
                                                                    </span>
                                                                <span>Duas semanas atrás</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h2>
                                                                    <a href="#">SQL e BANCO DE DADOS</a>
                                                                </h2>
                                                                <blockquote>
                                                                    <h5>Consultas de banco de dados para uma tabela (Parte 1) </h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        "Este é um trecho do banco de dados Mondial amplamente...."
                                                                        <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/SQL.png" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                     
                                                      

                                                    </div>
                                                </div>
                                                  <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline">

                                                 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>12:13
                                                                    </span>
                                                                <span>Duas semanas atrás</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h2>
                                                                    <a href="#">SQL e BANCO DE DADOS</a>
                                                                </h2>
                                                                <blockquote>
                                                                    <h5>Consultas de banco de dados para uma tabela (Parte 1) </h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        "Este é um trecho do banco de dados Mondial amplamente...."
                                                                        <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/SQL.png" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                     
                                                      

                                                    </div>
                                                </div>
                                                  <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline">

                                                 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>12:13
                                                                    </span>
                                                                <span>Duas semanas atrás</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h2>
                                                                    <a href="#">SQL e BANCO DE DADOS</a>
                                                                </h2>
                                                                <blockquote>
                                                                    <h5>Consultas de banco de dados para uma tabela (Parte 1) </h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        "Este é um trecho do banco de dados Mondial amplamente...."
                                                                        <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/SQL.png" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                     
                                                      

                                                    </div>
                                                </div>
                                                  <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline">

                                                 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>12:13
                                                                    </span>
                                                                <span>Duas semanas atrás</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h2>
                                                                    <a href="#">SQL e BANCO DE DADOS</a>
                                                                </h2>
                                                                <blockquote>
                                                                    <h5>Consultas de banco de dados para uma tabela (Parte 1) </h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        "Este é um trecho do banco de dados Mondial amplamente...."
                                                                        <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/SQL.png" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                     
                                                      

                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>