<div class="port_baixo">
    <section class="content">
        <div class="container-fluid">

         
                    <div class="tab-content">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="cardJms project_widget ">

                                    <div class="body">
                                        <div class="container ">
                                            <div class="row">
                                                <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline"> 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>12:13
                                                                    </span>
                                                                <span>Duas semanas atrás</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h3>
                                                                    <a href="#">SQL e BANCO DE DADOS</a>
                                                                </h3>
                                                                <blockquote>
                                                                    <h5>Consultas de banco de dados para uma tabela (Parte 1) </h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        "Este é um trecho do banco de dados Mondial amplamente...."
                                                                        <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/SQL.png" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                    </div>
                                                </div>
                                              
                                                <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline"> 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>
                                                                    187 dias
                                                                    </span>
                                                                <span>atrás</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h3>
                                                                    <a href="#">CIÊNCIA DA COMPUTAÇÃO</a>
                                                                </h3>
                                                                <blockquote>
                                                                    <h5> Algoritmos e Estruturas de Dados (Parte 1)</h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        Nos últimos 20 anos, o Google tem sido a principal busca...  <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/algoritimo.jpg" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                    </div>
                                                </div>
                                                  <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline"> 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>
                                                                    206 dias
                                                                </span>
                                                            <span>atrás</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h3>
                                                                    <a href="#">DESENVOLVIMENTO WEB</a>
                                                                </h3>
                                                                <blockquote>
                                                                    <h5>Fundamentos de HTML5 e CSS3</h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        "Nunca foi tão fácil desenvolver para web como é hoje. A criação de websites hoje ocorre devido a uma série ...."
                                                                        <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/HTML-e-CSS.png" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                     
                                                      

                                                    </div>
                                                </div>
                                                  <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline">

                                                 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>1 ano
                                                                    </span>
                                                                <span>atras</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h3>
                                                                    <a href="#">VUE.JS</a>
                                                                </h3>
                                                                <blockquote>
                                                                    <h5>Progressive JavaScript framework </h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        "Por que o Vue.js é uma sensação crescente entre a comunidade de desenvolvimento internacional?...."
                                                                        <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/vuejs.jpg" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                     
                                                      

                                                    </div>
                                                </div>
                                                  <div class="col-md-4 m-t-30 ">
                                                    <div class="left-timeline">

                                                 
                                                            <time class="left-time"
                                                                datetime="2017-10-22T12:13"><span>12:13
                                                                    </span>
                                                                <span>Duas semanas atrás</span></time>
                                                           
                                                            <div class="left-label">
                                                                <h3>
                                                                    <a href="#">SQL e BANCO DE DADOS</a>
                                                                </h3>
                                                                <blockquote>
                                                                    <h5>Inserir dados para uma tabela (Parte 2) </h5>
                                                                    <p class="blockquote blockquote-primary">
                                                                        "O chamado metodo insert e o famoso metodo de adicionar metodo no banco de dados...."
                                                                        <br>
                                                                        <small>
                                                                            - joaquim
                                                                        </small>
                                                                    </p>
                                                                </blockquote>
                                                                <div class="row clearfix">
                                                                    <div class="col-lg-12">
                                                                        <div class="map m-t-10">
                                                                            <img src="assets/images/post/SQL.png" alt="" srcset="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> 
        </div>
    </section>
</div>