<div>
    <section class="content">
        <div class="container-fluid">

            <div class="row subtitulo">
                <div class="col-lg-4 col-md-12 ">
                    <div class="cardJms ">
                        <div class="m-b-30">
                            <div class="contact-grid">
                                <div class="profile-header p-t-30" style="background: #5b979b;">
                                    <div class="name-center ">JOAQUIM DA SILVA </div>
                                    <p>Web Developer</p>
                                </div>
                                <img src="assets/images/user/jms.jpg" class="user-img" alt="">
                                <p>
                                    Av. 21 de Janeiro, Bairro Gamek, Morro Bento, Município da Maianga,
                                    <br /> Luanda-Angola
                                </p>



                                <div>
                                    <span class="phone">
                                        <i class="menu-icon ti-user"></i>+244 997616181</span>
                                </div>


                                <section id="contact" class="contact text-center">
                                    <div class="container">
                                        <ul class="list-inline list-social">
                                            <li class="list-inline-item social-whatsapp">
                                                <a target="_blank" href="https://wa.me/c/244997616181">
                                                    <i class="menu-icon ti-comment"></i></a>
                                            </li>
                                            <li class="list-inline-item social-facebook">
                                                <a target="_blank"
                                                    href="https://www.facebook.com/joaquimmiguel.ellsilva/">
                                                    <i class="menu-icon ti-facebook"></i></a>
                                            </li>
                                            <li class="list-inline-item social-instagra">
                                                <a target="_blank" href="https://www.instagram.com/elll_silva/">
                                                    <i class="menu-icon ti-instagram"></i></a>
                                            </li>
                                            <li class="list-inline-item social-linkedIn">
                                                <a target="_blank"
                                                    href="https://www.linkedin.com/in/o-peregrino-de-cristo-66287a215/">
                                                    <i class="menu-icon ti-linkedin"></i></a>
                                            </li>

                                            <li class="list-inline-item social-github">
                                                <a target="_blank"
                                                    href="https://www.linkedin.com/in/o-peregrino-de-cristo-66287a215/">
                                                    <i class="menu-icon ti-github"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </section>


                            </div>
                        </div>
                    </div>
                    <div class="cardJms ">
                        <ul class="nav nav-tabs">
                            <li class="nav-item m-l-10">
                                <a class="nav-link active" data-toggle="tab" href="#habilidades">Interesses</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane body active" id="habilidades">

                                <div class="row">
                                    <div class="col-4">
                                        <h5>6</h5>
                                        <small>Projectos web</small>
                                    </div>
                                    <div class="col-4">
                                        <h5>16</h5>
                                        <small>Outros</small>
                                    </div>
                                    <div class="col-4">
                                        <h5>5</h5>
                                        <small>Postagem</small>
                                    </div>
                                </div>
                                <hr>
                                <small class="text-muted">Endereço eletrônico:</small>
                                <p>Joaquimmigueldecristo@gmail.com</p>
                                <hr>
                                <small class="text-muted">Telefone: </small>
                                <p>+244 997616181</p>
                                 <p>+244 942459967</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" :class="{ active: sobreActive }" id="project">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="cardJms  ">

                                        <div class="body">
                                            
                                            <p class="m-t-5">
                                                Sou um desenvolvedor full stack e Design criativo que vive em
                                                Angola-Luanda.
                                            </p>
                                            <p class="m-t-5">
                                                Gosto de criar coisas que surpreendem e encantam.
                                            </p>
                                            <p>
                                                Estou interessado na web como uma plataforma muito ampla e com bastante
                                                Oportunidades
                                                Os avanços em hardware e tecnologias nativas da web, combinados com a
                                                natureza compartilhada por padrão da internet, promovem infinitas
                                                possibilidades. Gostei muito de explorar este espaço até agora, e ainda
                                                há muito o que descobrir.

                                            </p>
                                            <p>
                                                No meu tempo Livre, gosto de fazer e compartilhar trabalhos com amigos
                                                em Geral auto-iniciados.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="cardJms  ">
                                        <div class=" nome_titulo ">
                                            <h4>Educação</h4>
                                        </div>
                                        <div class="body">
                                            <ul>
                                                <li>(IMETRO) Universidade Metropolitana.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="cardJms  ">
                                        <div class="header nome_titulo">
                                            <h4>Experiência</h4>
                                        </div>
                                        <div class="body">
                                            <ul>
                                                <li>Trabalhando como Desenvolvendor front-end na Empresa Digital Combo (Brasil)
                                                    de 2021 ate 2022 .
                                                </li>
                                                <li>Trabalhando como Desenvolvendor de sistema e Web-sites freelancers de Dezembro
                                                    de 2019 ate agora .
                                                </li>
                                                <li>Trabalhando como Design e Marketing digital 
                                                </li>

                                                <li>Experiência de um ano como Professor de abril de 2019 a março de
                                                    2020.</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="cardJms  ">
                                        <div class="header nome_titulo">
                                            <h4>Conferências, Workshop </h4>
                                        </div>
                                        <div class="body">
                                            <ul>
                                                <li>Workshop universitario .
                                                </li>
                                                <li>Conferência da Associação de Programadores Angolanos Dia 7 de
                                                    Agosto de 2020
                                                </li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>